body {
  font-family: 'Shadows Into Light', cursive;
}

input[type=submit] {
    padding:15px 45px;
    font-size: 20px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
